main{
   display: flex;
   justify-content: space-between;

   > div{
      width: calc((100% - 10px) / 2);
   }

   .search{
      &__result{
         margin-top: 10px;
      }
   }

   #map{
      height: 400px;
   }
}