/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
   background-color: rgb(240, 240, 240);
}

section {
   background-color: white;
   border-radius: 2px;
}

.block{
   padding: 20px;
   box-sizing: border-box;
}

.app-container{
   width: calc(100% - 20px);
   margin: 10px;
}
